.main {
  padding-inline: 20px;
  .input-container {
    margin-block: 10px;
  }

  .model-select {
    margin-right: 20px;
  }
  .text-input {
    padding: 20px;
    width: 100%;
    height: 250px;
  }

  .note {
    margin-block: 10px;
  }

  .translate-button {
    cursor: pointer;
  }

  .title {
    margin-bottom: 20px;
  }
  .translation-container {
    display: flex;
    gap: 20px;
    .translation-item {
      width: 100%;
      flex: 1;
    }
  }
}
